@font-face {
    font-family: imperial;
    src: url(/fonts/absender1.ttf);
}

body{

    background-color: rgb(51, 51, 51);
}

div#app-imc{
    position: absolute;
    background-color: rgb(29, 255, 86);
    height: 600px;
    width: 400px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(15, 248, 73, 0.541);
}
div#app-imc h1 {
    font-family: imperial;
    color: white;
    text-shadow: 2px 2px 3px black;
    margin-top: 60px;
}

input#peso{
    margin-top: 80px;
}

.valuein{
    outline: none;
    box-shadow: 1px 1px 3px rgb(6, 87, 26);
    border-radius: 2px;
    border-style: none;
    background-color: rgb(13, 167, 51);
    width: 300px;
    height: 35px;
    margin: 30px 11px;
    -webkit-transition: 0.5s;
  transition: 0.5s;
}
.valuein[type=text]:focus {
    border: 1px solid rgb(51, 51, 51);
    
  }

.valuein[type=text]::placeholder{
    color: rgb(51, 51, 51);
}
